<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dani.ecoparque"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <!-- Es improbable que los móviles con este tamaño de pantalla tengan 4.0 o superior -->
    <supports-screens android:smallScreens="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dani.ecoparque.LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dani.ecoparque.SeleccionUsuario"
            android:label="@string/title_activity_seleccion_usuario" >
        </activity>
        <activity
            android:name="com.dani.ecoparque.DatosEmpresa"
            android:label="@string/title_activity_datos_empresa"
            android:parentActivityName="com.dani.ecoparque.SeleccionUsuario" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dani.ecoparque.SeleccionUsuario" />
        </activity>
        <activity
            android:name="com.dani.ecoparque.Depositante"
            android:label="@string/title_activity_depositante"
            android:parentActivityName="com.dani.ecoparque.SeleccionUsuario" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dani.ecoparque.SeleccionUsuario" />
        </activity>
        <activity
            android:name="com.dani.ecoparque.Resultados"
            android:label="@string/title_activity_resultados"
            android:parentActivityName="com.dani.ecoparque.Depositante" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dani.ecoparque.Depositante" />
        </activity>
        <activity
            android:name="com.dani.ecoparque.DatosDominio"
            android:label="@string/title_activity_datos_dominio"
            android:parentActivityName="com.dani.ecoparque.DatosEmpresa" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dani.ecoparque.DatosEmpresa" />
        </activity>
        <activity
            android:name="com.dani.ecoparque.SeleccionPuntoLimpio"
            android:label="@string/title_activity_seleccion_punto_limpio"
            android:parentActivityName="com.dani.ecoparque.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dani.ecoparque.LoginActivity" />
        </activity>
    </application>

</manifest>
